.footer {
    background-color: $color-secondary;
    grid-column: full-start/full-end;

    padding: 8rem;
}

.nav {
    list-style-type: none; // can have values  crosshair (means it numbers the list items ) , square.

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem , 1fr)); // for responsive design.
    grid-gap: 2rem;

    /*&__item {
        background-color: rgba($color: #fff, $alpha: .05);
        display: grid;
        align-items: center;
    }*/

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            font-family: $font-display;
            font-size: 1.4rem;
            color: #fff;
            padding: 1.5rem;
            text-transform: uppercase;
            text-align: center;
            display: block;
            transition: all .2s;
            font-weight: 300;

        }

        &:hover ,&:active {
            background-color: rgba($color: #fff, $alpha: .05);
            transform: translateY(-3px);
        }

    }

 }

 .copyright {
     font-size: 1.4rem;
     color: $color-grey-light-2;
     margin-top: 6rem;
     margin-left: auto;
     margin-right: auto;
     width: 70%;
     text-align: center;
 }

 .copy {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s;
    backface-visibility: hidden;

    &:hover {
        color: $color-primary;
        background-color: rgba(black , .9);
        box-shadow: 0 1rem 2rem rgba(black , .5);
        transform: rotate(4deg) scale(1.2);
    }
}